#root {
    display: flex;
    flex-wrap: wrap;
    width: 482px;
    margin: auto;
    gap: 4px;
    .group {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        width: 156px;
        height:156px;
        .cell {
            width:50px;
            height:50px;
            border: 1px solid black;
            &.editable {
                background-color: darksalmon;
            }
        }
    }
}