.duplicates {
    position: absolute;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
#duplicates__row-1 {
    top: 239px;
    left: 68px;
}
#duplicates__row-2 {
    top: 293px;
    left: 67px;
}
#duplicates__row-3 {
    top: 347px;
    left: 67px;
}
#duplicates__row-4 {
    top: 401px;
    left: 67px;
}
#duplicates__row-5 {
    top: 455px;
    left: 67px;
}
#duplicates__row-6 {
    top: 509px;
    left: 67px;
}
#duplicates__row-7 {
    top: 563px;
    left: 67px;
}
#duplicates__row-8 {
    top: 617px;
    left: 67px;
}
#duplicates__row-9 {
    top: 671px;
    left: 67px;
}
#duplicates__col-1 {
    top: 188px;
    left: 122px;
}
#duplicates__col-2 {
    top: 188px;
    left: 176px;
}
#duplicates__col-3 {
    top: 188px;
    left: 230px;
}
#duplicates__col-4 {
    top: 188px;
    left: 284px;
}
#duplicates__col-5 {
    top: 188px;
    left: 338px;
}
#duplicates__col-6 {
    top: 188px;
    left: 392px;
}
#duplicates__col-7 {
    top: 188px;
    left: 446px;
}
#duplicates__col-8 {
    top: 188px;
    left: 500px;
}
#duplicates__col-9 {
    top: 188px;
    left: 554px;
}