@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
.gg-timer,
.gg-timer::before {
  border: 2px solid;
  width: 18px;
  height: 18px;
  border-radius: 40px;
}

.gg-timer {
  background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat 6px -2px/2px 6px;
  box-sizing: border-box;
  transform: scale(var(--ggs, 1));
  position: relative;
  display: block;
  border-top-color: transparent;
}

.gg-timer::after,
.gg-timer::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-timer::before {
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: -2px;
  top: -2px;
  transform: rotate(45deg);
}

.gg-timer::after {
  width: 2px;
  height: 6px;
  background: currentColor;
  transform: rotate(-50deg);
  left: 4px;
  bottom: 5px;
  border-radius: 100px;
}

html, body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
#root .container {
  width: 650px;
  height: 650px;
}
@media (max-width: 650px) {
  #root .container {
    max-width: 500px;
    max-height: 500px;
  }
}
@media (max-width: 500px) {
  #root .container {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 390px) {
  #root .container {
    max-width: 350px;
    max-height: 350px;
  }
}
#root .container > div {
  margin: auto;
}
#root .container #grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
#root .container #grid .group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #020202;
}
#root .container #grid .group .cell {
  border: 1px solid #020202;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .container #grid .group .cell span {
  font-size: 40px;
  pointer-events: none;
}
@media (max-width: 650px) {
  #root .container #grid .group .cell span {
    font-size: 34px;
  }
}
@media (max-width: 500px) {
  #root .container #grid .group .cell span {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  #root .container #grid .group .cell span {
    font-size: 26px;
  }
}
#root .container #grid .group .cell.attached-to-editable {
  background-color: #6e5dd12e;
}
#root .container #grid .group .cell.editable {
  background-color: #2609cd4e;
}
#root .container #grid .group .cell.correct {
  background-color: #00e74154;
}
#root .container #grid .group .cell.incorrect {
  background-color: #e7230054;
}
#root .container #grid .group .cell:not(.static) {
  color: #020c99;
}
#root .container #game-ui-top {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
#root .container #game-ui-top #timer {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 82px;
  padding-bottom: 5px;
}
#root .container #game-ui-top #timer span {
  font-size: 20px;
  vertical-align: middle;
}
#root .container #game-ui-bottom {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}
#root .container #game-ui-bottom button, #root .container #game-ui-bottom select {
  border: 2px solid #020202;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
}
@media (max-width: 650px) {
  #root .container #game-ui-bottom button, #root .container #game-ui-bottom select {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  #root .container #game-ui-bottom button, #root .container #game-ui-bottom select {
    font-size: 16px;
    padding: 5px 10px;
  }
}
@media (max-width: 390px) {
  #root .container #game-ui-bottom button, #root .container #game-ui-bottom select {
    font-size: 14px;
    padding: 5px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
