@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
.gg-timer,
.gg-timer::before {
  border: 2px solid;
  width: 18px;
  height: 18px;
  border-radius: 40px;
}

.gg-timer {
  background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat 6px -2px/2px 6px;
  box-sizing: border-box;
  transform: scale(var(--ggs, 1));
  position: relative;
  display: block;
  border-top-color: transparent;
}

.gg-timer::after,
.gg-timer::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-timer::before {
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: -2px;
  top: -2px;
  transform: rotate(45deg);
}

.gg-timer::after {
  width: 2px;
  height: 6px;
  background: currentColor;
  transform: rotate(-50deg);
  left: 4px;
  bottom: 5px;
  border-radius: 100px;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-height: 100vh;
}
#root .container {
  display: grid;
  grid-template-rows: 2fr 650px 3fr;
  width: 650px;
  padding-top: min(50px, 5%);
}
@media (max-width: 650px) {
  #root .container {
    max-width: 500px;
    grid-template-rows: 2fr 500px 3fr;
  }
}
@media (max-width: 500px) {
  #root .container {
    max-width: 400px;
    grid-template-rows: 2fr 400px 3fr;
  }
}
@media (max-width: 390px) {
  #root .container {
    max-width: 350px;
    grid-template-rows: 2fr 350px 3fr;
  }
}
@media (max-width: 350px) {
  #root .container {
    max-width: 250px;
    grid-template-rows: 2fr 250px 3fr;
  }
}
#root .container > div {
  margin: auto;
}
#root .container #grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
#root .container #grid .group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #020202;
}
#root .container #grid .group .cell {
  border: 1px solid #020202;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .container #grid .group .cell span {
  font-size: 40px;
  pointer-events: none;
}
@media (max-width: 650px) {
  #root .container #grid .group .cell span {
    font-size: 34px;
  }
}
@media (max-width: 500px) {
  #root .container #grid .group .cell span {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  #root .container #grid .group .cell span {
    font-size: 26px;
  }
}
@media (max-width: 350px) {
  #root .container #grid .group .cell span {
    font-size: 22px;
  }
}
#root .container #grid .group .cell.attached-to-editable {
  background-color: #6e5dd12e;
}
#root .container #grid .group .cell.editable {
  background-color: #2609cd4e;
}
#root .container #grid .group .cell.correct {
  background-color: #00e74154;
}
#root .container #grid .group .cell.incorrect {
  background-color: #e7230054;
}
#root .container #grid .group .cell:not(.static) {
  color: #020c99;
}
#root .container #game-ui-top {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#root .container #game-ui-top #timer {
  display: flex;
  align-self: flex-end;
  gap: 5px;
  padding-bottom: 5px;
  height: 20px;
  width: 82px;
}
@media (max-width: 390px) {
  #root .container #game-ui-top #timer {
    width: 67px;
  }
}
@media (max-width: 350px) {
  #root .container #game-ui-top #timer {
    width: 30px;
  }
}
@media (max-width: 350px) {
  #root .container #game-ui-top #timer .gg-timer {
    display: none;
  }
}
#root .container #game-ui-top #timer span {
  align-self: flex-end;
  font-size: 20px;
}
@media (max-width: 500px) {
  #root .container #game-ui-top #timer span {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  #root .container #game-ui-top #timer span {
    font-size: 12px;
  }
}
#root .container #game-ui-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 350px) {
  #root .container #game-ui-buttons {
    gap: 4px;
  }
}
#root .container #game-ui-buttons button,
#root .container #game-ui-buttons select {
  color: #020202;
  border: 2px solid #020202;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
}
#root .container #game-ui-buttons button option,
#root .container #game-ui-buttons select option {
  text-align: left;
}
@media (max-width: 650px) {
  #root .container #game-ui-buttons button,
#root .container #game-ui-buttons select {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  #root .container #game-ui-buttons button,
#root .container #game-ui-buttons select {
    font-size: 14px;
    padding: 5px 10px;
  }
}
@media (max-width: 390px) {
  #root .container #game-ui-buttons button,
#root .container #game-ui-buttons select {
    font-size: 10px;
    padding: 0px 10px;
  }
}
@media (max-width: 350px) {
  #root .container #game-ui-buttons button,
#root .container #game-ui-buttons select {
    font-size: 8.5px;
    padding: 0px 10px;
  }
}
#root .container #pad-numbers,
#root .container #grid-actions-buttons {
  display: flex;
  gap: 5px;
  padding-top: 10px;
}
#root .container #pad-numbers > div,
#root .container #grid-actions-buttons > div {
  display: flex;
  justify-content: center;
  background-color: #6c65d534;
  width: 68px;
  height: 68px;
  font-size: 32px;
}
@media (max-width: 650px) {
  #root .container #pad-numbers > div,
#root .container #grid-actions-buttons > div {
    width: 51px;
    height: 51px;
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  #root .container #pad-numbers > div,
#root .container #grid-actions-buttons > div {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
}
@media (max-width: 390px) {
  #root .container #pad-numbers > div,
#root .container #grid-actions-buttons > div {
    width: 34.5px;
    height: 34.5px;
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  #root .container #pad-numbers > div,
#root .container #grid-actions-buttons > div {
    width: 23.5px;
    height: 23.5px;
    font-size: 16px;
  }
}
#root .container #pad-numbers > div > span,
#root .container #grid-actions-buttons > div > span {
  display: flex;
  align-self: center;
  pointer-events: none;
}
#root .container #pad-numbers > div:hover,
#root .container #grid-actions-buttons > div:hover {
  background-color: #6c65d550;
}
#root .container #grid-actions-buttons {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
